.names {
    display: flex;
    justify-content: space-around;
}

.name {
    padding: 10px 30px;
    border-radius: 50px;
}

.mount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 80px;
    padding-top: 30px;
    text-align: center;
}

.mount p {
    color: white;
    padding-bottom: 20px;
}
.title1 {
    display: flex;
    justify-content: center;
}
.button {
    color: white;
    padding: 8px 75px;
    border-radius: 50px;
    font-size: 20px;
    background-color: rgb(234, 88, 12);
}

.button1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 3rem;
}
