/* Import Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

/* Global Styles */

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}

html,
body {
  // Original was 100% but failed to show top of page
  height: 120%;
  background-color: var(--dark-gray);
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Shared utility classes */

button:hover {
  cursor: pointer;
  opacity: 90%;
}

.hidden {
  display: none !important;
}

.yellow {
  color: var(--yellow);
}

.turquoise {
  color: var(--turquoise);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.border {
  border: 1px solid rgba(211, 211, 211, 0.4) !important;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  gap: 5px;
}

@media (min-width: 768px) {
  .grid {
    width: 490px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
  }
}

/* Turn */

.turn {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;

  display: flex;
  align-items: center;
  gap: 20px;
}

@keyframes turn-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.turn p {
  font-size: 14px;
  animation: 0.6s ease-in-out turn-text-animation;
}

@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.turn i {
  font-size: 1.8rem;
  margin-left: 10px;
  animation: 0.6s ease-in-out turn-icon-animation;
}

/* Square */

.square {
  background-color: var(--gray);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.square:hover {
  cursor: pointer;
  opacity: 90%;
}

/* Score */

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.score p {
  font-size: 14px;
  font-weight: 600;
}

.score span {
  font-size: 12px;
  margin-top: 2px;
}
